@use "styles/" as *;
.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url("https://firebasestorage.googleapis.com/v0/b/my-ecommerce-app-770f8.appspot.com/o/header.webp?alt=media&token=da7740bc-026d-4290-a6a3-fdd104685812")
            center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width: 40%;
        padding: 20px;
        background-color: white;
        @include mobile {
            width: 75%;
        }
        h1 {
            font-size: 24px;
            font-weight: 300;
        }
        form {
            display: flex;
            flex-wrap: wrap;
            input {
                flex: 1;
                min-width: 40%;
                margin: 20px 10px 0px 0px;
                padding: 10px;
            }
            span {
                font-size: 12px;
                margin: 20px 0px 0px;
            }
            a {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
            button {
                width: 40%;
                border: none;
                padding: 15px 20px;
                background-color: teal;
                color: white;
                cursor: pointer;
            }
        }
    }
}
