@use "styles/" as *;
$bg-gradient-radius: -45deg;
$icon-font: 40px;
$header-shrink-box-shadow: 2px 2px 4px -2px $secondary-light;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-1000;

    &__logo {
        background: linear-gradient(
            $bg-gradient-radius,
            $secondary-light,
            $primary-dark,
            $secondary-light,
            $primary-dark
        );
        font-size: $fs-xl;
        background-size: $w-full $h-full;
        background-clip: text;
        -webkit-text-stroke: $mg-1 transparent;
        -webkit-text-fill-color: $dark-1;
        margin-bottom: $mg-0;
        // }
    }

    &__nav {
        .active {
            color: $secondary-light !important;
        }
    }
}
